ENVIRONMENT=dev
GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=postgres sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/adapters/migrations
ACCESS_SECRET=your-access-secret
REFRESH_SECRET=your-refresh-secret